<h1>Hello editors</h1>
<!-- we can only render partials this way -->

<!-- rendering the form component and passing the local variable "article" with the value of @article to the partial -->
<%= render "form" , article: @article %>
